# Ignore virtual environment
venv/

# Ignore pipenv virtual environment
Pipfile.lock

# Ignore PyCharm files
.idea/

# Ignore VSCode files
.vscode/

# Ignore compiled Python files
*.pyc

# Ignore logs
*.log

# Ignore local configuration files
*.env